body{
    /* font-family: "Didot"; */
}

#contactForm{
    font-size: larger;
    margin: auto;
    width: 70%;
}

.formulaire{
    margin-top: 100px;
}


.formulaire .form-control:focus{
    box-shadow:none;
}


.formulaire #createAccount{
    border-color: transparent;
    background-color: #4d1db3;
}

.formulaire #createAccount:hover{
    background-color: green;

}
